/* Empty. Add your own CSS if you like */

body {
    background: url(../img/green.jpg);
}
.tabs{
    background: url(../img/green.jpg);
    border-top: #000;
    color:#FFF;
    text-shadow: 2px 2px 4px #000000;
}

.bar.bar-light{
    background: url(../img/green.jpg);
}

.bar.bar-light .title{
	color:#FFF;
	text-shadow: 2px 2px 4px #000000;
	font-size: 150%;
}

.tab-item .icon {
	color: #FFF;
}

.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons
{
	color: #FFF;
	text-shadow: 2px 2px 4px #000000;
}
